@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-Regular.woff") format("woff"), url("../fonts/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-MediumItalic.woff") format("woff"), url("../fonts/TTNorms-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-BlackItalic.woff") format("woff"), url("../fonts/TTNorms-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-Italic.woff") format("woff"), url("../fonts/TTNorms-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: 'TT Norms', Arial, Helvetica, sans-serif;
}

.navbar {
  margin: 50px 0;
}

.navbar .navbar-flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navbar .navbar-line {
  width: calc(100% - 200px);
  text-align: right;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .navbar-line-lang, .navbar .navbar-line-list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-line-lang li {
  font-size: 12px;
  font-weight: 700;
  padding: 3px 7px;
  border-radius: 7px;
}

.navbar .navbar-line-lang li.activ {
  background-color: #F0145A;
}

.navbar .navbar-line-list li {
  margin-left: 10px;
}

.navbar .navbar-line-list li a {
  color: white;
  text-decoration: none;
}

.navbar .navbar-collapse {
  -ms-flex-preferred-size: initial;
      flex-basis: initial;
  width: calc(100% - 200px);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-left: auto;
  margin-top: -43px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

.navbar-home {
  position: absolute;
  width: 100%;
}

.intro-sect {
  background-color: #323264;
  background-image: url(../img/intro-bg.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 150px;
}

.section-subheading {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.section-subheading-grey-arrow::after, .section-subheading-blue-arrow::after {
  content: "";
  background-image: url(../img/grey-link-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  margin-bottom: 3px;
  width: 12px;
  height: 12px;
}

.section-subheading-blue-arrow {
  color: #24A3FF;
}

.section-subheading-blue-arrow::after {
  content: "";
  background-image: url(../img/blue-link-arrow.svg);
}

.section-heading {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  background-color: #F0145A;
  background-image: linear-gradient(45deg, #F0145A, #EF8080);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .section-heading {
    font-size: 32px;
  }
}

.service-item {
  margin: 60px 0 30px;
}

.service-item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .service-item-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
}

.service-item-icon {
  max-width: 92px;
}

@media (max-width: 768px) {
  .service-item-icon {
    margin-right: 10px;
    max-width: 64px;
  }
}

.service-item-heading {
  color: #24A3FF;
  font-size: 24px;
  line-height: 1.2;
  margin: 20px 0 15px;
}

@media (max-width: 768px) {
  .service-item-heading {
    margin: 0;
    font-size: 18px;
  }
}

.service-item-text {
  color: white;
  font-size: 18px;
}

@media (max-width: 768px) {
  .service-item-text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .service-item {
    margin: 20px 0;
  }
}

.team-slider-sect {
  margin: 40px 0 80px;
}

@media (max-width: 992px) {
  .team-slider-sect .team-slider-img {
    display: none;
  }
}

.team-slider-sect .team-slider-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5F5FA;
  border-radius: 12px;
}

.team-slider-sect .team-slider-row .team-slider-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-slider-sect .team-slider-row .team-slider-info-img {
  display: none;
}

@media (max-width: 992px) {
  .team-slider-sect .team-slider-row .team-slider-info-img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-right: 10px;
  }
  .team-slider-sect .team-slider-row .team-slider-info-img .team-slider-img {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.team-slider-sect .team-slider-row .team-slider-info .team-slider-name,
.team-slider-sect .team-slider-row .team-slider-info .team-slider-role {
  color: #B3B3BA;
  margin: 0;
}

.team-slider-sect .team-slider-row .team-slider-info .team-slider-name {
  font-size: 18px;
  font-weight: 700;
}

.team-slider-sect .team-slider-row .team-slider-info .team-slider-role {
  font-size: 16px;
}

.team-slider-sect .team-slider-row .team-slider-text {
  padding: 40px;
}

.team-slider-sect .carousel-indicators {
  bottom: -60px;
}

.team-slider-sect .carousel-indicators [data-bs-target] {
  background-color: #24A3FF;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 7px;
  opacity: .2;
}

.team-slider-sect .carousel-indicators [data-bs-target].active {
  opacity: 1;
}

.clients-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  max-width: 1440px;
  margin: auto;
}

.clients-grid-logo {
  width: 100%;
}

@media (max-width: 1200px) {
  .clients-grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .clients-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
