@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Regular.woff') format('woff'), url('../fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Medium.woff') format('woff'), url('../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-MediumItalic.woff') format('woff'), url('../fonts/TTNorms-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-BlackItalic.woff') format('woff'), url('../fonts/TTNorms-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Italic.woff') format('woff'), url('../fonts/TTNorms-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Bold.woff') format('woff'), url('../fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@import 'reset';
body {
    font-family: 'TT Norms', Arial, Helvetica, sans-serif;
}

// Header
.navbar {
    margin: 50px 0;
    .navbar-flex {
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .navbar-line {
        width: calc(100% - 200px);
        text-align: right;
        color: white;
        display: flex;
        justify-content: flex-end;
        &-lang,
        &-list {
            margin: 0;
            padding: 0;
            display: flex;
        }
        &-lang {
            li {
                font-size: 12px;
                font-weight: 700;
                padding: 3px 7px;
                border-radius: 7px;
                &.activ {
                    background-color: #F0145A;
                }
            }
        }
        &-list {
            li {
                margin-left: 10px;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    .navbar-collapse {
        flex-basis: initial;
        width: calc(100% - 200px);
        flex-grow: 0;
        margin-left: auto;
        margin-top: -43px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: white;
            font-weight: 500;
            font-size: 18px;
        }
    }
}

.navbar-home {
    position: absolute;
    width: 100%;
}

.intro-sect {
    background-color: #323264;
    background-image: url(../img/intro-bg.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 150px;
}

.section-subheading {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    font-weight: 700;
    &-grey-arrow,
    &-blue-arrow {
        &::after {
            content: "";
            background-image: url(../img/grey-link-arrow.svg);
            background-repeat: no-repeat;
            background-size: contain;
            display: inline-block;
            vertical-align: middle;
            margin-left: 3px;
            margin-bottom: 3px;
            width: 12px;
            height: 12px;
        }
    }
    &-blue-arrow {
        color: #24A3FF;
        &::after {
            content: "";
            background-image: url(../img/blue-link-arrow.svg);
        }
    }
}

.section-heading {
    font-size: 42px;
    line-height: 50px;
    font-weight: 700;
    background-color: #F0145A;
    background-image: linear-gradient(45deg, #F0145A, #EF8080);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    @media (max-width: 768px) {
        font-size: 32px;
    }
}

.service-item {
    margin: 60px 0 30px;
    &-top {
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) {
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
        }
    }
    &-icon {
        max-width: 92px;
        @media (max-width: 768px) {
            margin-right: 10px;
            max-width: 64px;
        }
    }
    &-heading {
        color: #24A3FF;
        font-size: 24px;
        line-height: 1.2;
        margin: 20px 0 15px;
        @media (max-width: 768px) {
            margin: 0;
            font-size: 18px;
        }
    }
    &-text {
        color: white;
        font-size: 18px;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
    @media (max-width: 768px) {
        margin: 20px 0;
    }
}

// Team-slider
.team-slider-sect {
    margin: 40px 0 80px;
    .team-slider-img {
        @media (max-width: 992px) {
            display: none;
        }
    }
    .team-slider-row {
        display: flex;
        background-color: #F5F5FA;
        border-radius: 12px;
        .team-slider-info {
            display: flex;
            align-items: center;
            &-img {
                display: none;
                @media (max-width: 992px) {
                    display: block;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    position: relative;
                    overflow: hidden;
                    margin-right: 10px;
                    .team-slider-img {
                        display: block;
                        width: 100%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .team-slider-name,
            .team-slider-role {
                color: #B3B3BA;
                margin: 0;
            }
            .team-slider-name {
                font-size: 18px;
                font-weight: 700;
            }
            .team-slider-role {
                font-size: 16px;
            }
        }
        .team-slider-text {
            padding: 40px;
        }
    }
    .carousel-indicators {
        bottom: -60px;
        [data-bs-target] {
            background-color: #24A3FF;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin: 0 7px;
            opacity: .2;
        }
    }
    .carousel-indicators [data-bs-target].active {
        opacity: 1;
    }
}

// Clients
.clients-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1440px;
    margin: auto;
    &-logo {
        width: 100%;
    }
    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}